/*+++++++++++ Global Settings ++++++++++ */

*{
	box-sizing: border-box;
}


body{
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
max-width: 70em;
margin: auto;


}
/*+++++++++++ Main Header Section ++++++++++ */

.main_header {
	background-color: #173e43;
	padding-top: 1.3em;
	padding-bottom: 1.3em;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main_header h1 {
 	font-family: 'Stalinist One', cursive;
 	color: #000;
  	text-align: center;
	font-size: 2.5em;
	  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	

}

header h2 {
display: inline-block;	
font-size: 1.2em;
color:#5a5c51;
}

.featured {
font-family: 'Monoton', cursive;
font-size: 1.3em;	
}

/*+++++++++++ Search Box ++++++++++ */
.search_box {

	padding:  2em 1em 1em 1em;
	text-align: center;
	}

	.search_box #myInput {
		height: 3em;
		border: 2px solid silver;
		border-radius: 5px;
		padding: .5em;
		width:8em;
		transition: width 0.4s ease-in-out;
		background-color: #a8b6bf;
		font-size: 1em;
		background-image: url(../images/Search-icon-32px.png);
    	background-position: 5px; 
    	background-repeat: no-repeat;
    	text-align: center;


			}

	.search_box #myInput:focus {
		width: 90%;
		background-color: #fff;
		background-image:none;
	}

/*+++++++++++ Main Container Section:Photo Gallery ++++++++++ */
.main_container {
margin: auto;
display: flex;
}

.photo_gallery {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: auto;
	max-width: 90%;
}

.photo {
	padding: 1.5em;
	display: inline-block;
	/*border: 2px solid red;*/
	margin: 0;
	align-self: center;
	
	}

	.photo p{
		font-family: 'Black Ops One', cursive;
		text-align: center;
		color: #64706c;
		font-size: .8em;
			}

	.photo img{
	   	max-width: 9em;
  	    border-radius: 15px 15px;
  	    box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #312c32;
	}

/* the "caption" is needed for the dynamic search but should not be displayed outside of lightbox*/
	.photo p:first-Child {
	display: none;
	}


/* ---------Footer----------*/

footer{
	height: 3em;
	background: #333 url(http://stephy.mccdgm.net/images/patterns/gray_sand.png);
	margin: auto;

}


footer p{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-top: 1em;
  color: #5a5c51;
  font-weight: bold;

}


	/* ++++++++++++Screen 768px-and-up Media Query++++++++++++++*/

@media screen and (min-width:768px) {

/* ---------Images and Titles Resizing----------*/

.photo img{
	   	max-width: 12em;
  	}

.photo p{
		font-family: 'Black Ops One', cursive;
		font-size: 1.1em;
			}

/* ---------Header Resizing----------*/
 .main_header h1 {
	font-size: 3.5em;
	}

header h2 {

font-size: 2em;
}

.featured {
font-family: 'Monoton', cursive;
font-size: 1.3em;	
}



/*+++++++++++ Search Box ++++++++++ */
.search_box {
	padding:  2em 1em 1em 3em;
	}

}


/* ++++++++++++Screen 1024px-and-up Media Query++++++++++++++*/

@media screen and (min-width:1024px) {


	/* ---------main-container size----------*/
	.main_container {
		max-width: 70em;
	}

/* ---------Images and Titles Resizing----------*/

.photo img{
	   	max-width: 12em;
  	}

.photo p{
		font-family: 'Black Ops One', cursive;
		font-size: 1.1em;
			}

/* ---------Header Resizing----------*/
 .main_header {
		padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.main_header h1 {
	font-size: 4em;
	}

header h2 {

font-size: 2em;
}

.featured {
font-family: 'Monoton', cursive;
font-size: 1.3em;	
}



/*+++++++++++ Search Box ++++++++++ */
.search_box {
	padding:  2em 1em 1em 7em;
	text-align: left;
	}

}